#number-guess,
#result,
#history {
  max-width: 400px;
  margin: 0 auto;
}

#history {
  margin-top: 16px;
}

.banner {
  color: teal;
  font-size: 90px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 520px) {
  .banner {
    color: teal;
    font-size: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  a{
      font-size: 1rem;
  }
}
